<header class="header">
    <div class="branding">
        <a href="./" class="nav-link">
            <clr-icon shape="video-gallery"></clr-icon>
            <span class="title">Netflix & Chill</span>
        </a>
    </div>
    <form class="search" (ngSubmit)="onSubmit(value)">
        <label for="search_input">
            <input id="search_input" [(ngModel)]="value" type="text" placeholder="Search for keywords..." name="value"/>
        </label>
    </form>


    <div class="header-actions">
        <clr-dropdown>
            <button class="nav-icon" clrDropdownTrigger>
                <clr-icon shape="cog"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <a href="..." clrDropdownItem>Favorites</a>
                <!--<a href="login" clrDropdownItem *ngIf="hasToken else out">Log In</a>-->
                <!--<a href="login" clrDropdownItem>Log Out</a>-->
                <button class="btn btn-link" (click)=login() *ngIf="!hasToken else out">Log In</button>
                <ng-template #out>
                    <button (click)=onClick() class="btn btn-link">Log Out</button>
                </ng-template>
            </clr-dropdown-menu>
        </clr-dropdown>
    </div>
</header>
